@import url('https://fonts.googleapis.com/css?family=Dosi|Titillium+Web');
body{
	
	background: #000000;
}



header{
	background:#000000;
	height: 30%;

}

.site{
	max-width: 1200px; /*Largura maxima do conteudo do site*/ 
	width: 100%;
	margin: 0 auto;
	
}

.topo nav ul{
	display: flex;
	justify-content:center;
}
.topo nav ul li{
	display: block;
	padding: 26px 30px;
	margin: 0 15px;
}
.topo nav ul li:hover{
	background:rgba(3, 38, 83, 0.452);
}
.topo nav ul li a{
	font-size: 50px;
	text-decoration: none;
	color: rgb(194, 192, 192);
}

.icon{
	display: flex;
	margin-bottom: 50px;
	padding: 50px;
	align-items: baseline;
}
.iconHome{
	background:url(../img/icon/logocru-vetor-branco.svg) no-repeat center;
}
.iconSobre{
	background:url(../img/icon/carvao.svg) no-repeat center;
}
.iconServico{
	background:url(../img/icon/stem-stem.svg) no-repeat center;
}
.iconContato{
	background:url(../img/icon/abafador.svg) no-repeat center;
}

.banner img{
	width: 100%;
	margin: 2% 0;
}
.sobre{
	margin: 2% 0;
}
.sobre div{
	display: flex;
	justify-content: space-around;
}
.sobre div article{
	width: 95%;
	
}
.sobre div article:nth-child(1){
	margin-left: 15%;
}
.sobre h2{
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF
}
.sobre p{
	font-size: 25px;
	color: #FFFFFF;
	text-align: justify;
	border: solid 4px #FFFFFF;
	padding: 5% 20% 5% 5%;
	line-height: 25px;
}
.sobre div article img{
	width: 50%;
    position: relative;
    margin-left: 190px;
    margin-top: 80px;
}

.local img{
	width: 100%;
	height:50%;
}

.localizacao{
	margin: 2% 0;
	
}

.localizacao div{
	display: flex;
	justify-content: space-around;
}
.localizacao div article{
	width: 95%;
	
}
.localizacao div article:nth-child(1){
	margin-left: 15%;
}
.localizacao h2{
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF
}
.localizacao p{
	font-size: 25px;
	color: #FFFFFF;
	text-align: justify;
	border: solid 4px #FFFFFF;
	padding: 5% 20% 5% 5%;
	line-height: 25px;
}

.servico{
	background:rgb(252, 251, 253);
	padding: 40px; /*padding é alinhamento da imagem,contorno baseada da tela*/
	text-align: center; /*text-aling= Alinhamento de texto*/
}

.servico h2{
	background: rgb(14, 13, 13); /*background= Colocar cor de fundo*/
	padding: 1%;
	width: 100px; /*width= Largura*/ 
	margin: 0 auto; /*margin= Margem, auto é pra centralizar automaticamente*/
	border-radius: 5px 5px 0 0; /*border-radius= Borda, 5px 5px= arredondamento das bordas; 0 0= deixa quadrado, sem arredondamento*/ 
	color:rgb(245, 245, 245); /*color= Cor*/
	font-weight: bold;/* Fonte do texto*/
}
.servico hr{
	height: 3px;
    background: rgba(239,239,239,1.00);
    position: relative;
    margin-top: -3px;
    border: none;
}
.servicoUm{
	display: flex;
	justify-content: space-between;
}
.servicoUm article{
	width: 23%;
	background: #FFFFFF;
	padding: 3px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px 1px #333;
}
.servicoUm article img{
	width: 100%;
	border-radius: 5px 5px 0 0;
}
.servicoUm article h3{
	color: rgb(10, 10, 10);
	padding: 3% 0;
}
.servicoUm article p{
	text-align: justify;
	padding-bottom: 20px;
	font-size: 12px;
}
.servicoUm article a{
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
	line-height:28px;
	text-decoration:none;
	background: rgb(27, 23, 31);
	color: #FFFFFF;
	border-radius: 5px;
}
.servicoUm article a:hover{
	background: #CCC;
	color: #FFFFFF;
}
.equipe h2{
	background: rgba(239,239,239,1.00); /*background= Colocar cor de fundo*/
	padding: 1%;
	width: 100px; /*width= Largura*/ 
	margin: 0 auto; /*margin= Margem, auto é pra centralizar automaticamente*/
	border-radius: 5px 5px 0 0; /*border-radius= Borda, 5px 5px= arredondamento das bordas; 0 0= deixa quadrado, sem arredondamento*/ 
	color:rgb(17, 13, 22); /*color= Cor*/
	font-weight: bold
}

.equipe{
	padding: 3px;
	text-align: center
}
.equipe article img{
	width: 100%;
	border-radius: 50%;
	box-shadow: 1px 1px 5px 1px #333;
}
.equipeUm { 
	display:flex;
	justify-content: space-between
}
.equipe hr{
	height: 3px;
	background:#FFFFFF;
	position:relative;
	margin-top:-3px;
	border:none;
}

.rodape{
	text-align: center;
	font-size:16px;
	color: #ffff;